# Machine Learning:
## Predict the dominant Political Party of a state based on covid vaccine search trends

In [1]:
#dependencies
import matplotlib.pyplot as plt
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import inspect
from sqlalchemy import create_engine, func

## Check connection to database

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\auror\anaconda3\envs\mlenv\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [4]:
#store password variable
from getpass import getpass
password = getpass("enter database pw")

enter database pw········

In [5]:
# connect to database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/CovidSearchTrends")

In [6]:
# Get the name of the tables. 
inspector = inspect(engine)
inspector.get_table_names()

['partisan_voting_index',
 'state_vaccines_ranked',
 'virus_search_terms',
 'vaccine_search_terms',
 'related_search_terms',
 'party_index',
 'presidential_results',
 'party_index_pvi']

## Logistic Regression (*without* state rank from PVI table)

In [7]:
# get table from database and convert to dataframe
party_index_PVI = pd.read_sql_table('party_index_pvi', engine)
vaccine_search_terms = pd.read_sql_table('vaccine_search_terms', engine)

In [8]:
# join dataframes and drop extra columns 

df = party_index_PVI.merge(vaccine_search_terms, 
              left_on='state_name', 
              right_on='state_name').drop(['state_name'], axis=1)
df.tail(5).style.hide_index()

In [9]:
# seaparate features from the target

y = df["party_id"]
X = df.drop(["party_id"], axis=1)

In [10]:
# split data into testing and training sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, 
                                                    stratify=y)

X_train.shape

(37, 5)

In [11]:
# create logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200)

In [12]:
# fit model w training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [13]:
# create predicitions with test set
y_pred = classifier.predict(X_test)

#view as dataframe
results = pd.DataFrame({"Y_Prediction": y_pred, "Actual (y-test)": y_test}).reset_index(drop=True)
results.head(5)

   Y_Prediction  Actual (y-test)
0             1                1
1             1                1
2             0                0
3             0                0
4             1                1

In [14]:
# evaluate accuracy score

from sklearn.metrics import accuracy_score
print("Accuracy score from Logistic Regression WITHOUT state rank")
print(accuracy_score(y_test, y_pred))

Accuracy score from Logistic Regression WITHOUT state rank
0.6923076923076923

In [15]:
# check confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
matrix_df = pd.DataFrame(matrix, 
                         index=["Actual 0-D", "Actual 1-R"], 
                         columns=["Predicted 0-D", "Predicted 1-R"])

matrix_df

            Predicted 0-D  Predicted 1-R
Actual 0-D              4              1
Actual 1-R              3              5

In [16]:
#classification report 
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.57      0.80      0.67         5
           1       0.83      0.62      0.71         8

    accuracy                           0.69        13
   macro avg       0.70      0.71      0.69        13
weighted avg       0.73      0.69      0.70        13

## Logistic Regression (*with* state rank from PVI)

In [17]:
# get table from database and convert to dataframe
PVI = pd.read_sql_table('partisan_voting_index', engine)
party_index = pd.read_sql_table('party_index', engine)
vaccine_search_terms = pd.read_sql_table('vaccine_search_terms', engine)

In [18]:
# join all 3 dataframes and drop extra columns 
df = PVI.merge(party_index, 
                  left_on='party', 
                  right_on='party').drop(['party'], axis=1)

df = df.merge(vaccine_search_terms, 
              left_on='state_name', 
              right_on='state_name').drop(['state_name'], axis=1)
df.tail(5).style.hide_index()

In [19]:
# seaparate features from the target

y = df["party_id"]
X = df.drop(["party_id"], axis=1)

In [20]:
# split data into testing and training sets

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y, 
                                                    stratify=y)

X_train.shape

(37, 6)

In [21]:
# create logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(solver='lbfgs',
                                max_iter=200)

In [22]:
# fit model w training data
classifier.fit(X_train, y_train)

LogisticRegression(max_iter=200)

In [23]:
# create predicitions with test set
y_pred = classifier.predict(X_test)

#view as dataframe
results = pd.DataFrame({"Y_Prediction": y_pred, "Actual (y-test)": y_test}).reset_index(drop=True)
results.head(5)

   Y_Prediction  Actual (y-test)
0             1                1
1             1                1
2             1                1
3             1                1
4             0                0

In [24]:
# evaluate accuracy score

from sklearn.metrics import accuracy_score
print("Accuracy score from Logistic Regression WITH state rank")
print(accuracy_score(y_test, y_pred))

Accuracy score from Logistic Regression WITH state rank
0.8461538461538461

In [25]:
# check confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
matrix = confusion_matrix(y_test, y_pred)

# Create a DataFrame from the confusion matrix.
matrix_df = pd.DataFrame(matrix, 
                         index=["Actual 0-D", "Actual 1-R"], 
                         columns=["Predicted 0-D", "Predicted 1-R"])


matrix_df

            Predicted 0-D  Predicted 1-R
Actual 0-D              4              1
Actual 1-R              1              7

In [26]:
#classification report 
report = classification_report(y_test, y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.80      0.80      0.80         5
           1       0.88      0.88      0.88         8

    accuracy                           0.85        13
   macro avg       0.84      0.84      0.84        13
weighted avg       0.85      0.85      0.85        13