## Clean and Transform Virus Search Term Timeline Data

In [1]:
#dependencies
import pandas as pd
from pathlib import Path
import plotly.express as px

In [3]:
#read in data
df = pd.read_csv(Path('VirusNameSearchTerms_ByDate.csv'), skiprows=2)
df.head(5)

,Week,coronavirus: (United States),covid: (United States),covid 19: (United States)
0,2019-12-01,<1,0,0
1,2019-12-08,<1,<1,0
2,2019-12-15,<1,<1,0
3,2019-12-22,<1,0,0
4,2019-12-29,<1,0,0

In [4]:
#check column names
[print(col) for col in df.columns]

Week
coronavirus: (United States)
covid: (United States)
covid 19: (United States)

[None, None, None, None]

In [5]:
#rename columns
df.rename(columns = {"Week": "week", 
                     "coronavirus: (United States)":"coronavirus", 
                     "covid: (United States)": "covid", 
                     "covid 19: (United States)":"covid_19" 
                    }, inplace = True)
df.head(5)

         week coronavirus covid covid_19
0  2019-12-01          <1     0        0
1  2019-12-08          <1    <1        0
2  2019-12-15          <1    <1        0
3  2019-12-22          <1     0        0
4  2019-12-29          <1     0        0

In [6]:
# Check data types 
df.dtypes

week           object
coronavirus    object
covid          object
covid_19       object
dtype: object

In [7]:
#convert select columns to int

# remove % symbol 
df=df.replace("<1", "0.1", regex=True)

# convert Nan's to 0
df =df.fillna(0)

df.astype({'coronavirus':'float',
           'covid':'float', 
           'covid_19':'float'}
         ).dtypes

week            object
coronavirus    float64
covid          float64
covid_19       float64
dtype: object

In [8]:
df

           week coronavirus covid covid_19
0    2019-12-01         0.1     0        0
1    2019-12-08         0.1   0.1        0
2    2019-12-15         0.1   0.1        0
3    2019-12-22         0.1     0        0
4    2019-12-29         0.1     0        0
..          ...         ...   ...      ...
120  2022-03-20         0.1     5      0.1
121  2022-03-27         0.1     5      0.1
122  2022-04-03         0.1     5      0.1
123  2022-04-10         0.1     5      0.1
124  2022-04-17         0.1     5      0.1

[125 rows x 4 columns]

## Save Virus Search Term Timeline as CSV

In [9]:
df.to_csv("../Resources/virus_search_terms_by_date.csv")