## Clean and Transform Presedential Data

In [33]:
import pandas as pd
from pathlib import Path

In [34]:
df = pd.read_csv(Path('PresidentByState_Harvard.csv'), index_col=False)
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,candidate,party_detailed,writein,candidatevotes,totalvotes,version,notes,party_simplified
0,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"CARTER, JIMMY",DEMOCRAT,False,659170,1182850,20210113,NaN,DEMOCRAT
1,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"FORD, GERALD",REPUBLICAN,False,504070,1182850,20210113,NaN,REPUBLICAN
2,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"MADDOX, LESTER",AMERICAN INDEPENDENT PARTY,False,9198,1182850,20210113,NaN,OTHER
3,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"BUBAR, BENJAMIN """"BEN""""",PROHIBITION,False,6669,1182850,20210113,NaN,OTHER
4,1976,ALABAMA,AL,1,63,41,US PRESIDENT,"HALL, GUS",COMMUNIST PARTY USE,False,1954,1182850,20210113,NaN,OTHER

In [35]:
#drop / rename columns
df = df.drop(["state_po", "state_fips", "state_cen", "state_ic", "office", "candidate", "party_detailed", "writein", "version", "notes"], axis=1)
df.rename(columns = {"state": "state_name"}, inplace = True)
df.head(5)

   year state_name  candidatevotes  totalvotes party_simplified
0  1976    ALABAMA          659170     1182850         DEMOCRAT
1  1976    ALABAMA          504070     1182850       REPUBLICAN
2  1976    ALABAMA            9198     1182850            OTHER
3  1976    ALABAMA            6669     1182850            OTHER
4  1976    ALABAMA            1954     1182850            OTHER

In [36]:
# drop rows with political party listed as "other"
df = df[df.party_simplified != "OTHER"]
df.head()

   year state_name  candidatevotes  totalvotes party_simplified
0  1976    ALABAMA          659170     1182850         DEMOCRAT
1  1976    ALABAMA          504070     1182850       REPUBLICAN
5  1976    ALABAMA            1481     1182850      LIBERTARIAN
7  1976     ALASKA           71555      123574       REPUBLICAN
8  1976     ALASKA           44058      123574         DEMOCRAT

In [37]:
# drop election data earlier than 2008
df = df[df.year >= 2008]
df

      year state_name  candidatevotes  totalvotes party_simplified
2728  2008    ALABAMA         1266546     2099819       REPUBLICAN
2729  2008    ALABAMA          813479     2099819         DEMOCRAT
2732  2008     ALASKA          193841      326197       REPUBLICAN
2733  2008     ALASKA          123594      326197         DEMOCRAT
2737  2008     ALASKA            1589      326197      LIBERTARIAN
...    ...        ...             ...         ...              ...
4267  2020  WISCONSIN         1630866     3298041         DEMOCRAT
4268  2020  WISCONSIN         1610184     3298041       REPUBLICAN
4280  2020    WYOMING           73491      278503         DEMOCRAT
4281  2020    WYOMING          193559      278503       REPUBLICAN
4282  2020    WYOMING            5768      278503      LIBERTARIAN

[598 rows x 5 columns]

In [38]:
#keep only winning party votes for each year and save to dataframe
keep = df.groupby(["year","state_name"])["candidatevotes"].max()
keepers = keep.to_frame()

#merge keepers w df and drop vote columns
df = df.merge(keepers, left_on="candidatevotes", right_on="candidatevotes").drop(['candidatevotes','totalvotes'], axis=1)
df

     year     state_name party_simplified
0    2008        ALABAMA       REPUBLICAN
1    2008         ALASKA       REPUBLICAN
2    2008        ARIZONA       REPUBLICAN
3    2008       ARKANSAS       REPUBLICAN
4    2008     CALIFORNIA         DEMOCRAT
..    ...            ...              ...
199  2020       VIRGINIA         DEMOCRAT
200  2020     WASHINGTON         DEMOCRAT
201  2020  WEST VIRGINIA       REPUBLICAN
202  2020      WISCONSIN         DEMOCRAT
203  2020        WYOMING       REPUBLICAN

[204 rows x 3 columns]

In [39]:
#convert party names to just letters
df["party_simplified"] = df["party_simplified"].replace({"REPUBLICAN":"R", "DEMOCRAT":"D"})
df

     year     state_name party_simplified
0    2008        ALABAMA                R
1    2008         ALASKA                R
2    2008        ARIZONA                R
3    2008       ARKANSAS                R
4    2008     CALIFORNIA                D
..    ...            ...              ...
199  2020       VIRGINIA                D
200  2020     WASHINGTON                D
201  2020  WEST VIRGINIA                R
202  2020      WISCONSIN                D
203  2020        WYOMING                R

[204 rows x 3 columns]

In [40]:
# convert year rows to columns
df = df.pivot(index='state_name', columns="year", values ="party_simplified")

#rename columns to match SQL 
df.reset_index(inplace=True)

df.head()

year  state_name 2008 2012 2016 2020
0        ALABAMA    R    R    R    R
1         ALASKA    R    R    R    R
2        ARIZONA    R    R    R    D
3       ARKANSAS    R    R    R    R
4     CALIFORNIA    D    D    D    D

In [41]:
#delete index name

df.rename_axis(None, axis=1, inplace=True)


df.rename(columns = {"2008": "y2008", "2012": "y2012", "2016":"y2016", "2020":"y2020"}, inplace = True)

df.head()

   state_name 2008 2012 2016 2020
0     ALABAMA    R    R    R    R
1      ALASKA    R    R    R    R
2     ARIZONA    R    R    R    D
3    ARKANSAS    R    R    R    R
4  CALIFORNIA    D    D    D    D

In [31]:
# check data types
df.dtypes

state_name    object
2008          object
2012          object
2016          object
2020          object
dtype: object

In [32]:
#convert to string
df= df.astype(str)
df.dtypes

state_name    object
2008          object
2012          object
2016          object
2020          object
dtype: object

## Send Presedential Data to Database

In [ ]:
from sqlalchemy import create_engine
from getpass import getpass

In [ ]:
#store password variable
password = getpass("enter database pw")

In [ ]:
# connect to database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/CovidSearchTrends")

In [ ]:
# import PVI data to database
df.to_sql(name="presidential_results", con=engine, index = False, if_exists='append')

## Save Presedential Data as CSV

In [ ]:
PVI_df.to_csv("..\Resources\presidential_results.csv")