## Clean and Transform Related Search Term Data

In [1]:
#dependencies
import pandas as pd
from pathlib import Path

In [2]:
#read in data and save as DataBase
df = pd.read_csv(Path('RelatedSearchTerms_ByStateComparison.csv'), skiprows=2)
df.head()

,Region,covid cases: (11/30/19 - 4/21/22),lockdown: (11/30/19 - 4/21/22),covid symptoms: (11/30/19 - 4/21/22),quarantine: (11/30/19 - 4/21/22),stimulus check: (11/30/19 - 4/21/22)
0,West Virginia,19%,2%,16%,6%,57%
1,Mississippi,14%,2%,15%,6%,63%
2,Arkansas,20%,3%,15%,6%,56%
3,Kentucky,19%,3%,15%,8%,55%
4,Alabama,17%,3%,15%,7%,58%

In [3]:
#check column names
[print(col) for col in df.columns]

Region
covid cases: (11/30/19 - 4/21/22)
lockdown: (11/30/19 - 4/21/22)
covid symptoms: (11/30/19 - 4/21/22)
quarantine: (11/30/19 - 4/21/22)
stimulus check: (11/30/19 - 4/21/22)

[None, None, None, None, None, None]

In [4]:
#rename columns
df.rename(columns = {"Region": "state_name", 
                     "covid cases: (11/30/19 - 4/21/22)": "covid_cases", 
                     "lockdown: (11/30/19 - 4/21/22)":"lockdown",
                     "covid symptoms: (11/30/19 - 4/21/22)":"covid_symptoms",
                     "quarantine: (11/30/19 - 4/21/22)":"quarantine",
                     "stimulus check: (11/30/19 - 4/21/22)":"stimulus_check"
                    }, inplace = True)
df.head()

      state_name covid_cases lockdown covid_symptoms quarantine stimulus_check
0  West Virginia         19%       2%            16%         6%            57%
1    Mississippi         14%       2%            15%         6%            63%
2       Arkansas         20%       3%            15%         6%            56%
3       Kentucky         19%       3%            15%         8%            55%
4        Alabama         17%       3%            15%         7%            58%

In [5]:
# Check data types 
df.dtypes

state_name        object
covid_cases       object
lockdown          object
covid_symptoms    object
quarantine        object
stimulus_check    object
dtype: object

In [6]:
#convert select columns to int

# remove % symbol 
df=df.replace("%", "", regex=True)

# convert Nan's to 0
df =df.fillna(0)

df.astype({'covid_cases':'int32', 
           'lockdown':'int32', 
           'covid_symptoms':'int32', 
           'quarantine':'int32', 
           'stimulus_check':'int32'}
         ).dtypes

state_name        object
covid_cases        int32
lockdown           int32
covid_symptoms     int32
quarantine         int32
stimulus_check     int32
dtype: object

## Send Related Search Term Data to Database

In [7]:
from sqlalchemy import create_engine
from getpass import getpass

In [8]:
#store password variable
password = getpass("enter database pw")

enter database pw········

In [9]:
# connect to database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/CovidSearchTrends")

In [12]:
# import PVI data to database
df.to_sql(name="related_search_terms", con=engine, index = False, if_exists='append')

## Save Virus Search Term Data as CSV

In [11]:
df.to_csv("../Resources/related_search_terms.csv")